body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif
}

a, .text-button {
    text-decoration: none !important;
    color: black;
    font-size: large;
}

header {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-size: large;
    /*optional*/
    /*input has OS specific font-family*/
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.header_container {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.authorize_container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.links_container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link {
    padding: 10px 20px;
}

.logo_container {
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.locale_select {
    color: gray;
}